<div id="question-form" class="well">
  <%= simple_form_for [@paper, @node], :html => {:class => 'form-horizontal'} do |f| %>
      <fieldset>
        <legend>题目</legend>

        <input name="node[type]" type="hidden" value="<%= @node.type %>" >
        <!--<%= f.input :type, :label => '类型', :required => true, :collection => dict(Node::TYPES), :prompt => '请选择..', :disabled => true %>-->

        <%= f.input :weight, :label => '权重', :required => true, :help => '权重影响在同一级中的问题排序' %>

        <%= f.input :media, :label => '媒体', :required => true, :collection => dict(Node::MEDIA), :prompt => '请选择..' %>

        <%= f.input :content, :label => '问题', :required => true, :as => 'text', :input_html => {:rows => 4}, :readonly =>  @node.media == 'audio' %>

        <div id="audio-uploader-div" class="control-group <%= @node.media == 'audio' ? '' : 'hide' %>" style="margin-top: -15px">
          <!--<label class="string optional control-label" for="node_file"></label>-->
          <div class="controls">
            <input type="file" id="audio-uploader" name="file" accept="audio/mpeg" >
          </div>
        </div>

        <%= f.input :pattern, :label => '题型', :required => true, :collection => dict(Node::PATTERNS), :prompt => '请选择..' %>

        <%= f.input :choices, :label => '选择项', :required => true do %>
            <table>
              <tbody>
              <% @node.choices.each do |choice| %>
                  <tr>
                    <td><input type="hidden" name="node[choices_attributes][][is_answer]" value=""></td>
                    <td><input type="radio" name="node[choices_attributes][][is_answer]" <%= 'checked' if choice.is_answer?  %> value="1" title="请选定正确答案"></td>
                    <td><input type="text" name="node[choices_attributes][][content]" value="<%= choice.content %>"></td>
                    <input type="hidden" name="node[choices_attributes][][id]" value="<%= choice.id %>">
                    <td><a class="remove-choice btn btn-mini icon-minus-sign"></a></td>
                  </tr>
              <% end %>
              <script id="choice-template" type="text/html">
                <tr>
                  <td><input type="hidden" name="node[choices_attributes][][is_answer]" value=""></td>
                  <td><input type="radio" name="node[choices_attributes][][is_answer]" title="请选定正确答案"></td>
                  <td><input type="text" name="node[choices_attributes][][content]"></td>
                  <td><a class="remove-choice btn btn-mini icon-minus-sign"></a></td>
                </tr>
              </script>
              </tbody>
              <tfoot>
              <tr>
                <td></td>
                <td colspan="2"><a class="add-choice btn btn-mini icon-plus-sign"></a></td>
              </tr>
              </tfoot>
            </table>
        <% end %>

        <%= f.input :grade, :label => '分值', :required => true %>

        <%= f.input :node_id, :label => '参考题干', :collection => @materials, :prompt => '无', :help => '如无参考材料，可留空' %>

      </fieldset>

      <div class="form-actions">
        <%= submit_tag '保存', :class => 'btn btn-primary' %>
        <a href="<%= url_for(:back) %>" class="btn">取消</a>
        <!--%= submit_tag '取消', :type => :reset, :class => "btn" %-->
      </div>

  <% end %>
</div>