<div id="paper-form" class="well">
  <%= simple_form_for @paper, :html => {:class => 'form-horizontal'} do |f| %>
      <fieldset>
        <legend>试卷基本信息</legend>
        <!--%= render 'form', :f => f %-->
        <%= f.input :name, :label => '试卷名称', :required => true, :help => '给你的试题取一个合适的名字，如：日语2012年JETEST' %>

        <%= f.input :language, :label => '语言', :required => true, :collection => dict(Paper::LANGUAGES), :prompt => '请选择..'  %>

        <%= f.input :purpose, :label => '试卷用途', :required => true, :collection => dict(Paper::PURPOSES), :prompt => '请选择..' %>

        <%= f.input :score, :label => '总分数', :required => true %>

        <%= f.input :duration, :label => '限时(分)', :required => true  %>

        <%= f.input :notice, :label => '注意事项', :as => 'text', :input_html => {:rows => 3} %>

        <%= f.input :has_parts, :label => '划分单项', :required=> true, :help => '分单项试卷，如分为听力、语法等' %>
      </fieldset>

      <div class="form-actions">
        <%= submit_tag '保存', :class => 'btn btn-primary' %>
        <a href="<%= url_for(:back) %>" class="btn">取消</a>
        <!--%= submit_tag '取消', :type => :reset, :class => "btn" %-->
      </div>

  <% end %>
</div>