<a href="<%= new_organization_path %>" class="btn btn-small btn-success pull-right">新增机构</a>

<table class="table table-striped">
  <caption></caption>
  <thead>
  <tr>
    <th>机构名称</th>
    <th>机构地址</th>
    <th>联系电话</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% if @organizations.blank? %>
      <tr placeholder>
        <td colspan="4">未添加任何机构</td>
      </tr>
  <% end %>
  <% @organizations.each do |organization| %>
      <tr>
        <td><a href="<%= organization_path(organization) %>"><%= organization.name %></a></td>
        <td><%= organization.address %></td>
        <td><%= organization.telephone %></td>
        <td>
          <!--<a href="<%= organization_path(organization) %>" data-method="DELETE" class="btn btn-danger btn-mini">删除</a>-->
          <a href="<%= edit_organization_path(organization) %>" class="btn btn-mini">编辑</a>
        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>